.gif {
    object-fit: cover;
    max-height: 400px;
    width: 100%
}


.verb{
    color: #0A66C2;
    font-weight: 900;
    font-size: 30px;

}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.icon :hover {
    cursor: pointer;
}

.center { 
    display: flex;
    justify-content: center;
}

.incorrectAnswer {
    color: red;
    font-size: larger;
}